.phase {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto auto auto 150px;
  grid-template-areas:
    'phaseName .'
    'filterBar .'
    'tableContainer columnCreator'
    'rowCreator columnCreator';

  &--header {
    grid-area: phaseName;
    background-color: $color-grey-light-2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 5px;

    textarea {
      background-color: $color-grey-light-2;
      color: $color-black;
      height: 4rem;
      font-size: 2rem;
      padding: 2px;
    }
  }

  &--filterBar {
    grid-area: filterBar;
  }

  &--table {
    grid-area: tableContainer;
  }

  &--newColumn {
    grid-area: columnCreator;
    align-content: space-around;
  }

  &--newRow {
    grid-area: rowCreator;
  }
};